# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

.Rhistory

/.ipynb_checkpoints/*

PreparacionDatos/.ipynb_checkpoints/